body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color:  #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1200px;

	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	background-color: #ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
	font: inherit;

	font-weight: bold;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: #604e43;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	position: relative;
	margin:0;
	padding: 0;
	min-height: 56px;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	margin-left: -70px; 
}


.main-navigation {
	font-weight: bold;
	line-height: 26px;
}

.main-nav-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 72px;
	margin-right: 72px;
	padding: 0;

	list-style: none;
}

.main-nav-list li {
	display: flex;
	align-items: center;
	width: 242px;
	min-height: 56px;
}

.nav-to-left {
	justify-content: flex-start;
}

.nav-to-right {
	justify-content: flex-end;
}

.main-nav-list li:nth-child(3) {
	margin-left: 88px; 
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color:#81b3d2;
}

.main-navigation a:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-img {
	display: flex;
	justify-content: center;
	padding-top: 76px;
	padding-bottom: 79px;

	background-color: #ddebf4;
	background-image: url("../img/bg-maska.png"), url("../img/bg-index.jpg");
	background-position: center calc(100% + 1px), 0 28%;
	background-repeat: no-repeat, no-repeat;	
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 216px;

	line-height: 26px;
	text-align: center;
}

.info b {
	margin-top: 22px;

	width: 440px;

	font-size: 21px;
	font-weight: 700;	
	color: #000000;
}

.info p {
	margin-top: 27px;
}

.advantage-photo {
	display: flex;	
}

.advantage-photo-text {
	padding: 47px 49px 45px 49px;
	width: 400px;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: #ffffff;
	text-align: center;

	background-color: #81b3d2;
}

.advantage-img {
	background-color: #ddebf4;
}

.advantage-header {
	font-size: 21px;
	font-weight: bold;
}

.advantage-photo-text .advantage-header {
	margin-bottom: 24px;
}

.advantage-without-num .advantage-header {
	margin-top: 29px;
	margin-bottom: 10px;
}

.advantage-num {
	margin-bottom: 7px;
}

.advantage-list {
	margin: 0;
	padding: 0;

	display: flex;

	list-style: none;
}

.advantage-without-num {
	padding-top: 56px;
	box-sizing: border-box;

	min-height: 330px;
}

.advantage-item {
	width: 400px;
	padding-left: 48px;
	padding-right: 48px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.icon-house::before {
	content: url("../img/icon-house.svg");
	width: 75px;
	height: 72px;
	margin-top: 4px;
}

.icon-food::before {
	content: url("../img/icon-food.svg");
	width: 74px;
	height: 70px;
	margin-top: 6px;
}

.icon-souvenir::before {
	content: url("../img/icon-souvenir.svg");
	width: 64px;
	height: 76px;
}

.advantage-with-num {
	padding-top: 47px;
	min-height: 256px;
	box-sizing: border-box;

	background-color: #eeeeee;
}

.advantage-with-num .advantage-header {
	margin-bottom: 25px;
}

.hotel-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 291px;
}

.hotel-search-title {
	margin: 0;
	margin-top: 56px;
	margin-bottom: 16px;
}

.hotel-search p {
	width: 440px;	

	text-align: center;
	line-height: 24px;
}

.hotel-search-title{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.btn-index {
	margin-top: 33px;
	padding: 30px 139px 30px 139px;
	
	width: 568px;
	
	font-size: 21px;
	line-height: 26px;
}

/* Стилизация формы index */
.hotel-search {
	position: relative;
}

.hotel-search-form {
	position: absolute;
	top: 100%;
	z-index: 1;

	display: flex;
	flex-direction: column;	
	padding: 55px;
	box-sizing: border-box;
	width: 568px;
	min-height: 395px;

	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.hotel-search-form,
.hotel-search-form input {
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.hotel-search-item {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 29px;
}

.hotel-search-item label {
	display: block;
	padding-top: 6px;
}

.hotel-search-form input {
	font: inherit;

	border: none;
	background-color: #f2f2f2;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
}

.hotel-search-form input:focus {
	background-color: #ffffff;
}

.hotel-search-form .data-input {
	padding-top: 6px;
	padding-left: 12px;
	padding-bottom: 6px;
	padding-right: 42px;
	width: 346px;
	box-sizing: border-box;

	margin-left: auto;	
}

.hotel-search-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1px;
}

.hotel-search-container label {
	margin-right: 39px;
}

.btn-calendar {
	position: absolute;
	right: 9px;
	top: 8px;

	display: flex;
	padding: 0;
	border: none;

	background-color: transparent;
}

.btn-calendar path {
	fill: #cacaca;
}

.btn-calendar:hover path,
.btn-calendar:focus path {
	fill: #000000;
}

.btn-calendar:active path {
	fill: #81b3d2;
}

.hotel-search-container .person-child {
	margin-right: 27px;
}

.person-input {
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 6px;
	padding-bottom: 6px;
  box-sizing: border-box;
	text-align: center;
	width: 114px;
}

.btn-input {
	padding: 0;
	border: none;
	width: 38px;
	height: 38px;

	background-color: transparent;
}

.btn-minus {
	position: absolute;
	right: 75px;
}

.btn-plus {
	position: absolute;
	right: 0;
}

.btn-minus::before,
.btn-plus::before {
	content: "";

	position: absolute;
	left: 13px;
	top: 18px;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.btn-plus::before {
	width: 11px;
	left: 14px;
	top: 18px;
}

.btn-plus::after {
	content: "";

	position: absolute;
	top: 14px;
  left: 18px;
	width: 3px;
	height: 11px;

	background-color: #a9a9a9;
}

.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:hover::before,
.btn-plus:focus::before,
.btn-plus:focus::after,
.btn-minus:focus::before {
	background-color: #000000;
}

.btn-plus:active::before,
.btn-plus:active::after,
.btn-minus:active::before {
	background-color: #81b3d2;
}

.btn-form {
	margin-top: 25px;
	padding-top: 16px;
	padding-bottom: 16px;

	font-size: 21px;
	line-height: 26px;

	background-color: #81b3d2;
}

.btn-form:hover,
.btn-form:focus {
	background-color: #669ec0;
}

.btn-form:active {
	background-color: #5496bd;
}

.map img {
	display: block;
}

.main-footer {
	position: absolute;
	bottom: 0;
	padding-left: 132px;
	padding-right: 94px;
	min-height: 120px;
	width: 1200px;
	box-sizing: border-box;

	display: flex;
	align-items: center;

	background-color: #ffffff;
	opacity: 0.9;
}

.footer-contacts {
	margin-right: 167px;
	
	width: 225px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-contacts a {
	margin-left: 5px;

	color: #000000;
}

.contacts-tel {
	display: block;
	margin-top: 7px;
}

.social {
	margin-top: 30px;
	margin-bottom: 36px;
}

.social-list {
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.social-list li {
	width: 46px;
	height: 48px;
	margin-right: 6px;
	margin-top: 6px;
	background-color: #81b3d2;
}

.social-button {
	position: relative;

	display: block;
	width: 100%;
	height: 100%;
}

.social-button-t::after {
	content: "";

	position: absolute;
	top: 17px;
	left: 15px;

	width: 17px;
	height: 15px;

	background-image: url("../img/icon-twitter.svg");
	background-repeat: no-repeat;
}

.social-button-fb::after {
	content: "";

	position: absolute;
	top: 13px;
	left: 17px;
	width: 12px;
	height: 22px;

	background-image: url("../img/icon-fb.svg");
	background-repeat: no-repeat;
}

.social-button-y::after {
	content: "";

	position: absolute;
	top: 16px;
	left: 13px;
	width: 20px;
	height: 16px;

	background-image: url("../img/icon-youtube.svg");
	background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
	background-color: #669dc0;
}

.social-button:active {
	background-color: #5495bd;
}

.social-button-t:active::after,
.social-button-fb:active::after,
.social-button-y:active::after {
	opacity: 0.3;
}

.footer-copyright {
	margin-left: auto;

	display: flex;
	align-items: center;

	width: 204px;
	line-height: 26px;
	color: #000000;
}

.footer-copyright a {
	display: flex;

	margin-left: 8px;
}

.copyright-html:hover path {
	fill: #81b3d2;
}

.copyright-html:active path,
.copyright-html:focus path {
	fill: #bdbbbc;
}


/* Catalog.html */
/*Стилизация form*/
.filter {
	padding-top: 27px;
	padding-bottom: 6px;
	
	color: #ffffff;

	background-color: #7597bc;
	background-image: url("../img/bg-filter.jpg");
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.filter-form {
	display: flex;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter fieldset:first-child  {
	margin-right: 119px;
}

.filter fieldset:last-child {
	margin-left: auto;
}

.filter legend {
	margin-bottom: 11px;

	font-size: 16px;
	line-height: 21px;
	font-weight: bold;	
}

.filter ul {
	padding: 0;
	list-style: none;
}

.filter-item {
	margin-bottom: 25px;
	padding-left: 40px;
}

.filter-item label {
	position: relative;

	display: block;

	cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: "";

	position: absolute;
	left: -41px;
	top: -2px;

	width: 19px;
	height: 19px;

	border: 2px solid #ffffff;
	border-radius: 4px;
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;

	border: none;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
	border-color: #6a6a6a;;
}

.filter-input-checkbox:disabled:disabled:checked + label::before {
	background-image: url(../img/checkbox-disabled.svg);
	background-repeat: no-repeat;

	border: none;
}

.filter-price {
	position: relative;
	margin-bottom: 20px;

	width: 314px;
	min-height: 30px;
	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-price::after {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background-color: #ffffff;
	transform: translate(-50%, -50%);
}

.filter-price label {
	display: inline-block;
	
	vertical-align: top;
	line-height: 30px;
	font-size: 14px;
	line-height: 30px;

	cursor: pointer;
}

.filter-price .min-place,
.filter-price .max-place {
	padding-left: 65px;
	width: 82px;
}


.filter input {
	width: 50px;
	margin: 0;

	font: inherit;
	color: inherit;

	background-color: transparent;	
	border: none;
}

.filter-range {
	position: relative;

	margin-bottom: 31px;
}

.filter-range .scale {
	width: 317px;
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.filter-range .second-scale {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	border-width: 9px;
}

.bnt-filter {
	display: block;

	padding: 5px 33px;
	margin-left: 86px;

	font-weight: normal;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.bnt-filter:hover,
.bnt-filter:focus {
	color: #000000;

	background-color: #ffffff;
}

/* Стилизация сортировки*/
.content {
	width: 1056px;
	margin: 0 auto;
}

.sorting {
	display: flex;
	align-items: center;

	padding-top: 30px;
	padding-bottom: 30px;
}

.sorting-total {
	margin-right: 48px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.sorting-type {
	display: flex;

	margin-top: 5px;
}

.sorting-title {
	margin-right: 40px;
	
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting button {
	margin-right: 33px;
	padding: 0;

	font: inherit;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);

	background-color: transparent;
	border: none;
	border-bottom: 1px dotted #81b3d2 ;
}

.sorting .btn-sorting:hover,
.sorting .btn-sorting:focus {
	color: #81b3d2;
}

.sorting .btn-sorting:active {
	color: #000000;
	border: none;
}

.sorting .sorting-active {
	border: none;
	color: #81b3d2;
}

.sorting-icon {
	margin-left: auto;
}

.sorting-icon button {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.sorting .btn-icon {
	margin-right: 3px;
	border: none;
}

.sorting .btn-icon:hover,
.sorting .btn-icon:focus {
	color: #000000;
}

.sorting .btn-icon:active {
	color: #81b3d2;
}

.menu-current {
	color: #766357;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	padding-left: 71px;
	padding-right: 72px;
	padding-top: 27px;
	padding-bottom: 30px;
	
	display: flex;
	align-items: center;

	border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.catalog-item h3,
.catalog-item p {
	margin: 0;
	padding: 0;
}

.catalog-item-details {
	margin-right: 15px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 93px;
	margin-left: 31px;
}

.catalog-item-details h3 {
	font-size: 21px;
	line-height: 26px;
	text-align: left;
}

.catalog-item-details .catalog-title {
	color: #000000;
}

.catalog-item-details .catalog-title:hover,
.catalog-item-details .catalog-title:focus {
	color: #81b3d2;
}

.catalog-item-details .catalog-title:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-item .catalog-item-price {
	margin-bottom: 9px;

	display: flex;
}

.catalog-category {
	min-width: 110px;
	margin-right: 6px;
}

.catalog-item-btn {
	display: flex;
	justify-content: space-between;
	width: 258px;
}

.catalog-item-btn .btn-details {
	padding: 3px 0;
	width: 110px;
	min-height: 27px;
	box-sizing: border-box;

	background-color: #81b3d2;
}

.catalog-item-btn .btn-reserve {
	padding: 3px 0;
	width: 142px;
	min-height: 27px;
	box-sizing: border-box;
}

.catalog-item-btn .btn-details:hover,
.catalog-item-btn .btn-details:focus {
	background-color: #669ec0;
}

.catalog-item-btn .btn-details:active {
	background-color: #5496bd;
}

.catalog-rating {
	display: inline-block;
	text-align: right;
		
	margin-left: auto;
}

.stars-rating {
	width: 18px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	
	display: inline-block;
	margin-left: auto;
	margin-bottom: 43px;
	margin-left: 2px;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	
	min-width: 110px;
	min-height: 27px;

	color: #666666;
	text-align: center;

	background-color: #f2f2f2;
}

.footer-catalog {
	position: static;
}


